[Desktop Entry]
Type=Application
Version=1.0
Name=QuikxChat
Comment=Simple and secure messaging app
Exec=AppRun
Icon=quikxchat
Terminal=false
Categories=Network;Chat;InstantMessaging;X-Matrix;