[Desktop Entry]
Name=QuikxChat
GenericName=Matrix Client
Comment=Simple and secure messaging app
Exec=quikxchat
Icon=${SNAP}/meta/gui/quikxchat.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
