[Desktop Entry]
Name=Simple Messenger
GenericName=Matrix Client
Comment=Simple and secure messaging app
Exec=simplemessenger
Icon=${SNAP}/meta/gui/simplemessenger.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
